<% if local_assigns[:index] %>
  <p class="title">
    <%= link_to booking_path(booking) do %>
      <span><%= booking.start_date %> - <%= booking.end_date %></span>
    <% end %>
  </p>
<% else %>
  <p class="title">
      <span><%= booking.start_date %> - <%= booking.end_date %></span>
  </p>
<% end %>
