<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-4 col-sm-offset-4">
      <%= form_with model: booking, local: true do |form| %>
        <div class="form-group row">
          <% if local_assigns[:edit] %>
            <p>
          <% else %>
            <p hidden>
          <% end %>
            <%= collection_select(
              :booking,
              :car_id,
              Car.all,
              :id,
              :brand,
              {selected: car.id, multiple: true}
              ) %>
            </p>
        </div>
        <div class="form-group row">
          <p>
            <%= form.label :person %>
            <%= collection_select(
              :booking,
              :person_id,
              Person.all,
              :id,
              :fullname,
              {prompt: 'Select person', multiple: true}
              ) %>
          </p>
        </div>
        <div class="form-group row">
          <p>
            <%= form.label :start_date, class: 'col-md-auto col-form-label' %><br />
            <%= form.date_field(:start_date, value: Date.today, order: [:day, :month, :year], class: 'form-control')%>
          </p>
        </div>
        <div class="form-group row">
          <p>
            <%= form.label :end_date, class: 'col-md-auto col-form-label' %><br />
            <%= form.date_field(:end_date, value: Date.today + 1, order: [:day, :month, :year], class: 'form-control')%>
          </p>
        </div>
        <div class="btn-group row">
          <p>
            <%= form.submit submit, class: 'btn btn-success' %>
            <%= link_to 'Cancel', booking_path, class: 'btn btn-danger' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
