<p class="title">
  <% unless local_assigns[:info] %>
    <%= link_to info_car_path(car) do %>
      <span class="is-size-4 has-text-weight-bold"><%= car.brand %></span>
    <% end %>
  <% else %>
    <span class="is-size-4 has-text-weight-bold"><%= car.brand %></span>
  <% end %>

  <% if car.photo.attached? %>
    <%= image_tag car.photo.variant(resize: "250x140") %>
  <% end %>
</p>
<div>
  <% if local_assigns[:info] %>
    <%= link_to 'Book this car', car_path, class: 'btn btn-success' %>
    <%= link_to 'Edit this car', edit_car_path, class: 'btn btn-success' %>
    <%= link_to 'Show all cars', cars_path, class: 'btn btn-success' %>
  <% end %>

  <% if local_assigns[:index] %>
    <%= link_to 'Book this car', car_path(car), class: 'btn btn-success' %>
    <%= link_to 'Edit this car', edit_car_path(car), class: 'btn btn-success' %>
  <% end %>
</div>
