<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h2 class="text-center">New</h2>

      <%= form_with model: @car, local: true do |form| %>
        <div class="control">
          <p>
            <%= form.label :brand %>
            <%= form.text_field :brand, placeholder: 'Car brand' %>
          </p>
        </div>
        <div class="control">
          <p>
            <%= form.label :plate %>
            <%= form.text_field :plate, placeholder: 'Insert plate number' %>
          </p>
        </div>
        <div class="control">
          <p>
            <%= form.label :color %>
            <%= form.text_field :color, placeholder: 'Insert car color' %>
          </p>
        </div>
        <div class="control">
          <p>
            <%= form.label :photo %>
            <%= form.file_field :photo, class: 'form-control' %>
          </p>
        </div>
        <div class="control">
          <p>
            <% if @car.photo.attached? %>
              <%= image_tag @car.photo, style: 'width 200px; display: block' %>
            <% end %>

            <%= form.submit submit %>
            <%= link_to 'Cancel', @car, class: 'button is-light' %>
          </p>
        </div>
      <% end %>
    </div>
  </div>
</div>
